// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hide

.pages-tuition h3,
.tuition p
  span
    text-decoration: line-through
  strong
    font-size: 120%


/* Comming Soon
  ----------------------- */

.stay-tuned
  padding: 50px  0
  @extend .black-text
  +clearfix
  &:after
    +panel-shadow(.15)
  div
    +span(8 of 12)
    +pre(2 of 12)
  .stay-updated
    margin-top: 30px


/* Course Boxes
  ----------------------- */

.pages-tuition
  h3
    span
      text-decoration: line-through

.pages-web_dev,
.pages-summer
  .next-cohort
    @extend .black
    text-align: center
    h2
      margin: 0 auto 30px

  .box-1
    background-color: $gray50
  .box-2
    background-color: $gray100
  .box-3
    background-color: $gray50
  .box-4
    background-color: $gray100
  .box-5
    background-color: $gray50
  .box-6
    background-color: $gray100
  .t-content,
  .t-middle
    position: relative
  .t-middle
    text-align: center
    right: auto
    left: auto
    svg
      width: 45px
      height: 45px
  .js-icon
    margin: 0 5px
  .phone-icon
    width: 40px
    height: 40px
    fill: $magenta

  +breakpoint($g-tiny)
    .t-content,
    .t-middle
      position: absolute
    .t-middle
      left: $tile-internal
      right: $tile-internal
      margin-top: -33px
      svg
        width: 65px
        height: 65px
      .phone-icon,
      .meter-icon
        width: 60px
        height: 60px
      .meter-icon
        margin-top: -5px
        margin-right: 1px

  .more-info
    @extend .black
    text-align: center
    a
      margin-top: 30px

  .events
    @extend .blue
    @extend .white-text

  .tuition
    background-color: $gray100

  .write-up
    .toggle-1, .toggle-2
      +hide

    +breakpoint($g-tiny)
      .toggle-2
        +reveal-hidden

  .instructor
    .t-content
      padding: 0
