// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hide


/* Course Pages
  ----------------------- */

.what, .where, .when
  +span(4 of 12)
.when
  margin-right: 0
.edu-icons li
  display: inline-block
  margin-right: 20px
.instructor
  float: left
  width: 150px
  margin-right: 20px
