// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hide

.panel
  padding: 50px $page-internal
  @extend .white-text
  &:after
    +panel-shadow(.15)
  h1
    margin: 0

.panel-ctr
  h1, h2, h3
    width: 80%
    margin: 0 auto
