/* FAQ
  ----------------------- */

.pages-faq
  .wrapper
    background-color: $black
  .hero
    a
      display: block

  .faq
    padding: 50px
    @extend .black-text
    +clearfix
