/* Home
  ----------------------- */

.pages-home
  .wrapper
    background-color: $green
    +background-image(linear-gradient(140deg, $blue 2%, $green 69%))
    .hero
      margin-top: 55px
      ul
        margin: 0
      li
        font-weight: 100
    .call-to-action
      margin-top: 30px
    .subscribe
      +hide

    +breakpoint($g-tiny)
      .subscribe
        +reveal-hidden
        ol
          margin-top: 30px

  .pitch
    @extend .white
    .t-pattern
      background: image-url("fixtures/stacked_circles.png")
    #typed-strings,
    .typed-no-js
      +hide
    .t-middle
      margin-top: -54px
      p
        margin: 0
        text-align: center
      p.number
        margin: 20px 0
        font-size: 32px
      cite
        display: none
      .toggle
        +hide
    &.hoverable:hover,
    &.hoverable:focus,
    &.hoverable:active
      +filter(brightness(98%))

    +breakpoint($g-tiny)
      .t-middle
        margin-top: -114px
        cite
          display: block
          margin-top: 20px
          text-align: center
          font-size: 9px
        .toggle
          +reveal-hidden

  .web-dev-program
    @extend .blue
    @extend .white-text
    strong
      font-size: 140%
    .icons
      +hide

  .summer-program
    @extend .yellow

  .launch-program
    @extend .black
    @extend .white-text
    .t-bottom
      bottom: 0
      text-align: right
    img
      width: 50%
      margin-right: 22px
    &:hover
      background-color: lighten($black, 3)

  .elixir-all-stars
    @extend .magenta
    @extend .white-text
    p.swap-2
      +hide
    &:hover
      background-color: lighten($magenta, 3)

  .part-time-program
    @extend .cyan
    @extend .white-text

  .faq
    @extend .black
    @extend .white-text
    .t-pattern
      background: image-url("fixtures/zig-zag.png")
    &:hover
      background-color: lighten($black, 3)

    // FIXME ccm: This is a hack.
    +breakpoint($g-tiny)
      padding-bottom: 56.35% // Gets rid of white line that occasionally appears on bottom box. Extra 0.05 is for $g-uber-wide situation.

  .essence
    @extend .white
    .t-middle
      margin-top: -17%
    .highlights
      display: block
      width: 200px
      margin: 0 auto
      h3
        margin-bottom: 10px
        padding-left: 25px
        font-family: $roboto
        background-repeat: no-repeat
    .education
      background-image: image-url("icons/logo/icon-red-20x25.png")
    .experience
      background-image: image-url("icons/logo/icon-green-20x25.png")
    .adventure
      background-image: image-url("icons/logo/icon-yellow-20x25.png")
    .networking
      background-image: image-url("icons/logo/icon-blue-20x25.png")
    &:hover
      background-color: $gray50
      +filter(brightness(100%))

    +breakpoint($g-tiny)
      .t-middle
        margin-top: -15%

  .events
    @extend .blue
    @extend .white-text
    li
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid $font-white
      +clearfix
    li:last-child
      border-bottom: none
    .calendar
      float: left
      margin: 5px 20px 0 0
      fill: $font-white
    .date
      float: left
      width: 70px
      margin-right: 10px
      margin-bottom: 10px
    .details
      float: left
    h3, p
      margin: 0
    h3
      span
        +hide

    +breakpoint($g-tiny)
      h3
        span
          +reveal-hidden-inline

  .testimonials
    @extend .green
    .t-content
      padding: 0
    img
      width: 100%
    blockquote
      position: relative
      margin: 0
      padding: 20px
      .quote
        position: absolute
        top: 20px
        left: 22px
        fill: $font-white
      p, footer
        @extend .white-text
        font-style: italic
        font-weight: 300
        padding-left: 50px
      p
        margin-top: 0
        font-size: 16px
      footer
        font-weight: 100
        font-size: 14px
      &:after
        +panel-shadow(.15)

  .partners
    +hide
    padding-bottom: 250px
    @extend .white
    .t-middle
      margin-top: -40px
      text-align: center
      img
        margin-right: 20px
        &:last-child
          margin-right: 0

  .gallery
    padding: 30px 0
    @extend .cyan
    @extend .white-text
    text-align: center
    h2, p
      margin: 0
    h2
      margin-bottom: 10px
    .images
      +clearfix
      img
        float: left
        &:nth-child(1)
          width: 50%
        &:nth-child(2),
        &:nth-child(3)
          width: 25%
    .gallery-action
      margin-top: 20px
    p
      margin-bottom: 10px

    +breakpoint($g-tiny)
      p
        display: inline-block
        margin-bottom: 0
      a
        margin-left: 20px

// JavaScript fallback...

.no-js
  .pitch
    #typed-strings,
    .typed-header
      +hide
    .typed-no-js
      +reveal-hidden
