/* Launch
  ----------------------- */

.launch-index,
.launch-create
  .wrapper
    background: $blue image-url("fixtures/rocket-stars-1680x700-2.jpg") 0 100% no-repeat
    background-size: cover
  .launch-blurb
    @extend .black
  .business,
  .startups
    background-color: $gray50
    ul
      list-style-image: image-url("icons/logo/icon-black-11x14.png")
    li
      font-weight: 300
    .toggle
      +hide

  .startups
    background-color: $gray100
  .form-wrap
    background-color: $cyan
    legend
      border-bottom: 1px solid $gray800
    input[type=email]
      +input-placeholder
        color: $cyan
