/* Tuition
  ----------------------- */

.pages-tuition
  .wrapper
    background-color: $green

  .web-dev-program,
  .part-time-program,
  .elixir-all-stars,
  .launch-program
    .t-block
      @extend .white-text
    .t-middle
      margin-top: -30px

  .financing
    @extend .black-text

  .elixir-all-stars
    @extend .magenta
    @extend .white-text
  .web-dev-program
    @extend .blue
  .part-time-program
    @extend .cyan
  .summer-program
    @extend .yellow
  .lets-talk
    .t-pattern
      background: image-url("fixtures/stacked_circles.png")
    .t-middle
      margin-top: -17px
      text-align: center
  .launch-program
    @extend .black
    @extend .white-text
  .payment-plan
    background-color: $white

  +breakpoint($g-mobile)
    .payment-plan
      .t-block
        padding-bottom: 100%
