/* Web Dev
  ----------------------- */

.pages-web_dev
  .wrapper
    background-color: $blue

  .next-cohort
    @extend .black
    div
      width: 45%
      margin: 0 auto
      +clearfix
    h2, a
      display: inline-block
      float: left
      margin: 0
    a
      float: right
      margin-left: 20px


  $a: lighten($blue, 40)
  $b: lighten($blue, 50)

  .box-1
    background-color: $gray50
    // background-color: $a
  .box-2
    background-color: $gray100
    // background-color: $b
  .box-3
    background-color: $gray50
    // background-color: $a
  .box-4
    background-color: $gray100
    // background-color: $b
  .box-5
    background-color: $gray50
    // background-color: $a
    // +background-image(linear-gradient(140deg, $b 2%, $a 69%))
  .box-6
    background-color: $gray100
    // background-color: $b
    // +background-image(linear-gradient(140deg, $c, 40) 2%, $d 69%))

  .t-middle
    text-align: center
    svg
      width: 65px
      height: 65px

  .more-info
    @extend .black
    text-align: center
    a
      margin-top: 30px
