- content_for :title do
  Home

%h2 Index Card Exercise

.card-links
  = link_to 'Navigation', navigation_path
  %span &#124;
  = link_to 'All Cards', all_cards_path
  %span &#124;
  = link_to 'Sans Rejects', sans_rejects_path
  %span &#124;
  = link_to 'Final', final_path

.card-legend
  .color-1 Mobile
  .color-2 Desktop
  .color-3 Borderline
  .color-4 Rejects
