// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hide

+breakpoint($g-desktop)
  .tel
    position: absolute
    top: -9999px
    left: -9999px
    +hide

  .callto
    position: relative
    top: auto
    left: auto
    +reveal-hidden-inline

.stay-tuned
  padding: 50px  0
  @extend .black-text
  +clearfix
  &:after
    +panel-shadow(.15)
  div
    +span(8 of 12)
    +pre(2 of 12)
  .stay-updated
    margin-top: 30px
