$horz-offset: 2px
$vert-offset: 5px
$blur: 10px
$spread: 0px

.green-section
  padding: 20px
  +box-shadow($horz-offset $vert-offset $blur $spread #338452)

.blue-section
  padding: 20px
  +box-shadow($horz-offset $vert-offset $blur $spread #0367A6)

section
  +span(7 of 16)
