@viewport
  width: device-width

@-ms-viewport
  width: device-width


/* Base
  ----------------------- */

html
  line-height: $base-line-height-alt
  font-family: $base-font-family
  font-size: $base-font-size-alt
  color: $base-font-color
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  background-color: $bg-body

.container
  +container()
  +show-grid(12)
  background-color: $bg-container

  +breakpoint($g-uber-wide)
    max-width: 1440px

$internal-padding: 20px


/* Media
  ----------------------- */

audio,
canvas,
img,
svg,
video
  vertical-align: middle

img
  max-width: 100%


/* Header
  ----------------------- */

// navigation in _navigation.sass

header
  // padding-bottom: 10px
  background-color: $bg-header

.logo
  +span(3 of 12)
  a
    display: block
    width: 150px
    height: 26px
    margin: 10px 0 0 10px
    background: image-url("logos/logo-white-150x26.png") 0 0 no-repeat

    +breakpoint($g-layout)
      margin-left: 5px

  +breakpoint($g-tablet)
    +span(4 of 12)
    a
      width: 300px
      height: 51px
      background: image-url("logos/logo-white-300x51.png") 0 0 no-repeat


/* Footer
  ----------------------- */

.footer
  background-color: $bg-footer
  .footer-right
    +hide
  p
    clear: both
    margin: 0

  +breakpoint($g-tablet)
    .footer-left
      +span(6 of 12)
    .footer-right
      +reveal-hidden-inline
      +span(6 of 12 last)
      .col1
        +span(2 of 6)
      .col2
        +span(4 of 6 last)
