/* Main
  ----------------------- */

nav
  float: left
  margin: 25px 0 0 250px

ul#nav
  +inline-block-list
  li
    padding: 0 20px
    font-family: $font-family-nav
    +link-colors($link-nav, $link-nav, $link-nav, $link-nav, $link-nav)
  li:first-child
    padding-left: 0
