@import "common"

@import "pages/home"
@import "pages/about"
@import "pages/programs"
@import "pages/web-dev"
@import "pages/backend"
@import "pages/part-time"
@import "pages/summer"
@import "pages/launch"
@import "pages/tuition"
@import "pages/faq"
@import "pages/employers"
@import "pages/students"
@import "pages/alumni"
@import "pages/blog"
@import "pages/apply"
@import "pages/contact"


/* Splash
  ----------------------- */

.pages-splash
  background-color: $green

.splash
  position: absolute
  top: 50%
  right: 0
  left: 0
  margin-top: -150px
  padding: 50px
  color: $font-white
  text-align: center
  h2
    // width: 600px
    margin-top: 50px
