@import "common"


/* Pages
  ----------------------- */

@import "../index_cards"
@import "style_guide"


/* Home
  ----------------------- */

.hero
  background-color: rgba($blue, $color-opacity)
.pitch
  @extend .red
.apply
  @extend .aqua
.program-1
  @extend .green
.program-2
  @extend .yellow
.program-3
  @extend .purple
.testimonial
  @extend .orange
.faq
  @extend .red
.facilities
  @extend .blue
  img
    max-height: 75%
.partners
  @extend .yellow
.last-apply
  @extend .blue
  .tg-block
    padding-bottom: 10%
