$horz-offset: 2px
$vert-offset: 5px
$blur: 10px
$spread: 0px

.gridster
  .green-section
    padding: 20px
    +box-shadow($horz-offset $vert-offset $blur $spread #338452)
  .blue-section
    padding: 20px
    +box-shadow($horz-offset $vert-offset $blur $spread #0367A6)
  ul, ol
    list-style-type: none
