// $horz-offset: 2px
// $vert-offset: 5px
// $blur: 10px
// $spread: 0px

// +box-shadow($horz-offset $vert-offset $blur $spread #999)

.horz-links
  li
    display: inline-block
    margin-right: 10px

.note
  font-style: italic
  color: green


/* Home
  ----------------------- */

.facilities
  img
    max-height: 100%


/* Form
  ----------------------- */

.form
  fieldset
    li
      list-style-type: none
      margin-bottom: 50px
    .form-label
      margin-bottom: 10px
    .form-radio
      input
        margin-right: 10px

.error-messages
  ul, ol
    list-style-type: none


/* Our Programs
  ----------------------- */

.programs
  .where, .when
    +span(6 of 12)
    h3
      margin: 0
  .when
    margin-right: 0
  .learn-more
    display: block
    clear: both


/* FAQ
  ----------------------- */

.questions
  a
    display: block


/* Our Programs
  ----------------------- */

.web-dev,
.part-time,
.summer
  .what, .where, .when
    +span(4 of 12)
  .when
    margin-right: 0
  .edu-icons li
    display: inline-block
    margin-right: 20px
.instructor
  float: left
  width: 150px
  margin-right: 20px


/* Students
  ----------------------- */

.edu-icons
  +inline-block-list
.student
  float: left
  width: 250px
  margin-right: 20px


/* Students
  ----------------------- */

.snail-mail
  p
    margin: 0
