.snail-mail
  %p.fn.org
    Primary Code
  .adr
    %p.street-address 400 Hibiscus St.
    %p.extended-address Suite 101
    %p
      %span.locality> West Palm Beach
      ,
      %span.region Florida
      %span.postal-code 33401
