.social-links
  %a{href: "#", title: 'Email Us'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f4e7;".html_safe}
    %span.screen-reader-text Email
  %a{href: "#", title: 'Facebook'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f44d;".html_safe}
    %span.screen-reader-text Facebook
  %a{href: "#", title: 'Twitter'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f424;".html_safe}
    %span.screen-reader-text Twitter
  %a{href: "#", title: 'Github'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f4bb;".html_safe}
    %span.screen-reader-text Github
  %a{href: "#", title: 'LinkedIn'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f307;".html_safe}
    %span.screen-reader-text LinkedIn
  %a{href: "#", title: 'Flickr'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f440;".html_safe}
    %span.screen-reader-text Flickr
  %a{href: "#", title: 'Google+'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f46a;".html_safe}
    %span.screen-reader-text Google+
  %a{href: "#", title: 'Instagram'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f4f7;".html_safe}
    %span.screen-reader-text Instagram
  %a{href: "#", title: 'Pinterest'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2374;".html_safe}
    %span.screen-reader-text Pinterest
  -# %a{href: "#", title: ''}
  -#   %span{"aria-hidden" => "true", "data-icon" => "&#x;".html_safe}
  -#   %span.screen-reader-text
