.social-icons
  = link_to contact_path, title: 'Email Us' do
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f4e7;".html_safe}
    %span.screen-reader-text Email
  %a{href: "https://www.facebook.com/primarycode/", title: 'Facebook'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f44d;".html_safe}
    %span.screen-reader-text Facebook
  %a{href: "https://twitter.com/primarycoder", title: 'Twitter'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f424;".html_safe}
    %span.screen-reader-text Twitter
  %a{href: "https://github.com/primarycode", title: 'Github'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f4bb;".html_safe}
    %span.screen-reader-text Github
  %a{href: "#", title: 'LinkedIn'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f517;".html_safe}
    %span.screen-reader-text LinkedIn
  %a{href: "#", title: 'Flickr'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f440;".html_safe}
    %span.screen-reader-text Flickr
  %a{href: "#", title: 'Google+'}
    / %span{"aria-hidden" => "true", "data-icon" => "&#x1f46a;".html_safe}
    %span{"aria-hidden" => "true", "data-icon" => "&#x67;".html_safe}
    %span.screen-reader-text Google+
  %a{href: "#", title: 'Instagram'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x1f4f7;".html_safe}
    %span.screen-reader-text Instagram
  %a{href: "#", title: 'Pinterest'}
    %span{"aria-hidden" => "true", "data-icon" => "&#x2374;".html_safe}
    %span.screen-reader-text Pinterest
