=# form_for @, html: { role: 'form', class: 'stay-updated' } do |f|
%form.stay-updated
  %ol
    %li.form-label
      %label Stay Updated
    %li.form-container
      %input{type: "email", placeholder: "enter email address"}
      %input{type: 'submit', value: 'Submit', class: 'button button-rounded button-flat-action'}
