=# form_for @, html: { role: 'form', class: 'subscribe' } do |f|
%form.subscribe
  %ol
    %li.form-label
      %label join our mailing list
      -#.form-label= f.label :
    %li.form-container
      -#.form-field= f.text_field :, autofocus: true
      -# %input{type: "email", placeholder: "email@example.com"}
      %input{type: "email", placeholder: "enter email address"}
      -#.form-button= f.submit ""
      -# %button{class: 'button button-rounded button-flat-primary'} subscribe
      %input{type: 'submit', :value => 'Submit'}

  -# .subscribe-container
  -#   %input{type: "email", placeholder: "email@example.com"}
  -#   %button{class: "button button-rounded button-flat"} subscribe
