%p A career in technology can change your life for the better. We are committed to helping you achieve this, and to attracting technology businesses to our region. This commitment is reflected in our prices and payment plans. We believe our prices are the best in the country, and the quality of our programs are second to none.
%p We also offer scholarships to folks who recognize themselves as women or an ethnicity that is underrepresented in the software community. Click this box to learn more.
