- content_for :title do
  Descriptive Adjectives List
- content_for :description_tag do
  Descriptive adjectives for Primary Code.

.adjectives
  %section
    %h2 Descriptive Adjectives List
    %ul.col1
      %li Educational
      %li Broad
      %li Extensive
      %li Technological
      %li Immersive
      %li Well-situated
      %li Relaxing
      %li Exciting
      %li Driven
      %li Social
      %li Life Changing
      %li Competent
      %li Fun
      %li Engaging
      %li Challenging
      %li Worthwhile
      %li Amazing
      %li Cutting Edge
      %li Committed
      %li Intense
      %li Rewarding
      %li Collaborative
      %li Passionate
      %li Transformational
      %li Altruistic
      %li Skillful
      %li Productive
      %li Connected
      %li Networked
      %li Informative
      %li Advanced
      %li Accommodating
      %li Encouraging
      %li Inviting
      %li Fresh
    = image_tag 'logos/icon-black-258x329.png', class: 'col2'
    %ul.col3
      %li Educational
      %li Technological
      %li Immersive
      %li Well-situated
      %li Relaxing
      %li Exciting
      %li Driven
      %li Social
      %li Life Changing
      %li Competent
      %li Fun
      %li Engaging
      %li Challenging
      %li Amazing
      %li Cutting Edge
      %li Intense
      %li Rewarding
      %li Collaborative
      %li Passionate
      %li Transformational
      %li Fresh
