- content_for :title do
  <meta> Description
- content_for :description_tag do
  Content for meta description.

.description
  %section= link_to 'Dashboard', dev_path, class: 'dev-link'

  %section
    %h2 Meta Description
    %p Primary Code is for people who want to learn how to code. Advance in your career, start a new career, launch your own idea, or upgrade your skills. Become a full-stack web developer through our immersive full-time 8 week coding bootcamp located in the heart of downtown West Palm Beach Florida.
    %p Primary Code is an elite software career accelerator located in the heart of downtown West Palm Beach Florida. Become a full-stack web developer or launch your own idea through our immersive full-time 8 week coding bootcamp.
