- content_for :title do
  Pipe Character
- content_for :description_tag do
  The meaning of the pipe character, the Primary Code icon.

%section
  %h2 Storyline
  %p We are a technology training academy. We think we are amazing, but in the very least we want to be.
  %p We’re perfect for people who want to learn how to develop websites, build applications, launch ideas, improve their coding skills, advance in their careers, or even change careers.
  %p Our staff is world class: experienced, professional, and dedicated to our students. Our courses are well thought out and structured.
  %p But we’re more than just an academy. Learning at Primary Code is also fun and engaging. We care about our student’s success in the classroom and beyond. In our program we cultivate life long bonds between students for career and coding collaboration beyond Primary Code. We are also very engaged with the business community and teach our students how to work with live clients.
  %p Our location is amazing. We’re ten minutes from the beach, a block away from city place, two blocks from Clematis. We have parking on location, and are across the street from a Marriott Inn and other accommodations.
