- content_for :title do
  About
= nav_at 'About'

.about
  %section.hero
    %p Idealy each slide will have a related image, for example fun may have students having fun, surfing, etc. The first slide should be some kind of diagram of the four components of our program.
    %ul.about-slider
      %li= image_tag 'misc/essence-diagram.png'
      %li
        %h3 EDUCATION
        %ul
          %li World-class instructors (MBA, 15+ years industry experience)
          %li Cutting edge technologies (Ruby on Rails, Elixir/, JavaScript and React)
          %li A holistic and hands-on approach (from idea to deployment)
          %li Intense and immersive
      %li
        %h3 EXPERIENCE
        %ul
          %li Real-world clients
          %li A blend of theory and hands-on practice
          %li Portfolio building
          %li Subject matter expertise blogging and presentations
          %li Third-party service interactions, e.g. designers and design bake-offs
      %li
        %h3 FUN/ADVENTURE
        %ul
          %li West Palm Beach nightlife and other attractions within blocks (Clematis Street, City Place, Kravitz Center)
          %li Beaches – 10 minutes by bike
          %li Marinas – 2 blocks
          %li Surfing, boating/sailing, scuba diving/snorkeling – front yard
          %li Kayaking – Loxahatchee River, inland to ocean kayaking trails
          %li Yoga
      %li
        %h3 COLLABORATION/NETWORKING for Life
        %ul
          %li Teambuilding and group unity
          %li Pair and mob programming
          %li On location community code meet ups (WPB Ruby Group, WPB Elixir Group, Business and the Web Meetup, etc.)
          %li Guest speakers
          %li Student/alumni online tools
          %li Job-search/networking and training assistance

  %section
    %p We are passionate about technology and believe learning to code can radically transform ones career and life path for the better.
  %ul.tiles
    %li.t-col.w-1-3
      .t-block.h-16x9.green
        .t-content
          %p This is our mission, and an important one. Each and every member of Primary Code takes this charge seriously. We are dedicated to your success and to improving the world through technology.

    %li.t-col.w-1-3
      .t-block.h-16x9.yellow
        .t-content
          %p In addition to learning the fundamentals of programming, it is important for students to belong to a network in which to flourish from &mdash; once they leave our code school. Our curriculum is designed to foster teamwork and collaboration. We then support this by providing students with the tools and means necessary to maintain relationships with Primary Code and one another.

    %li.t-col.w-1-3
      .t-block.h-16x9.red
        .t-content
          %p Finally, the environment you study in can greatly impact your overall learning experience. We are located in the heart of West Palm Beach, within blocks from all major attractions and amenities. This provides our students with a rich environment for building lifelong friendships and collaboration networks. And most importantly... You will have fun!

    %li.t-col.w-1-3
      .t-block.blue
        .t-content
          %p Primary Code was founded by Chris Maxwell, a technologist and entrepreneur.
          %p Chris Maxwell is the president of Ojalá, Inc. a company he founded in 2001 that specializes in Web application and product development. He earned a BS in Finance and an MBA in international business from Bentley University, and is a former staff member of the Bentley University Center for Entrepreneurship and an adjunct faculty member at Cape Cod Community College teaching business plan preparation. Chris brings a unique blend of technological and business experience to Primary Code.

    %li.t-col.w-1-3
      .t-block.light-blue
        .t-content
          %img{:src => 'http://dummyimage.com/300x300/999/fff&text=Profile+Pic', :alt => 'dummy image'}

    %li.t-col.w-1-3
      .t-block.cyan
        .t-content
          %p Guitarist, father of one, surfer, BRC Ranger, "Jim" fan (Hendrix/Page), photographer, full stack web developer. If I could swim to work I would.
          %p I'm fueled by gazpacho, music and a ceaseless sense of adventure and possibility.
          %p Nothing ventured, nothing gained.
          %p I divide my time between playing guitar, swimming, being with my son, going to Burning Man, coding, and teaching people how to code.
