- content_for :title do
  About
= nav_at 'About'

.gridster
  %ul
    %li.gray-section.hero{"data-row" => "1", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "1"}
      %p We are passionate about technology and believe learning to code can radically transform ones career and life path for the better.

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "2"}
      %p This is our mission, and an important one. Each and every member of Primary Code takes this charge seriously. We are dedicated to your success and to improving the world through technology.

    %li.gray-section{"data-row" => "2", "data-col" => "2", "data-sizex" => "2", "data-sizey" => "2"}
      %p In addition to learning the fundamentals of programming, it is important for students to belong to a network in which to flourish from &mdash; once they leave our code school. Our curriculum is designed to foster teamwork and collaboration. We then support this by providing students with the tools and means necessary to maintain relationships with Primary Code and one another.

    %li.gray-section{"data-row" => "3", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %p Finally, the environment you study in can greatly impact your overall learning experience. We are located in the heart of West Palm Beach, within blocks from all major attractions and amenities. This provides our students with a rich environment for building lifelong friendships and collaboration networks. And most importantly... You will have fun!

    %li.gray-section{"data-row" => "4", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "4"}
      %p Primary Code was founded by Chris Maxwell, a technologist and entrepreneur.
      %p Chris Maxwell is the president of Ojalá, Inc. a company he founded in 2001 that specializes in Web application and product development. He earned a BS in Finance and an MBA in international business from Bentley University, and is a former staff member of the Bentley University Center for Entrepreneurship and an adjunct faculty member at Cape Cod Community College teaching business plan preparation. Chris brings a unique blend of technological and business experience to Primary Code.

    %li.gray-section{"data-row" => "4", "data-col" => "2", "data-sizex" => "1", "data-sizey" => "4"}
      %img{:src => 'http://dummyimage.com/300x300/999/fff&text=Profile+Pic', :alt => 'dummy image'}

    %li.gray-section{"data-row" => "4", "data-col" => "3", "data-sizex" => "1", "data-sizey" => "4"}
      %p Guitarist, father of one, surfer, BRC Ranger, "Jim" fan (Hendrix/Page), photographer, full stack web developer. If I could swim to work I would.
      %p I'm fueled by gazpacho, music and a ceaseless sense of adventure and possibility.
      %p Nothing ventured, nothing gained.
      %p I divide my time between playing guitar, swimming, being with my son, going to Burning Man, coding, and teaching people how to code.
