- content_for :title do
  About
= nav_at 'About'

.about
  %section.hero
    %p Idealy each slide will have a related image, for example fun may have students having fun, surfing, etc. The first slide should be some kind of diagram of the four components of our program.
    %ul.about-slider
      %li
        %h1 Our approach to education is holistic...We blend A world-class education with experience, fun, adventure, and collaboration.
        = image_tag 'misc/essence-diagram.png'
      %li
        %h1 We expect a lot in a short period of time. We figure you do too. Our program is intense and unparalleled.
        %ul
          %li World-class instructors (MBA's, 15+ years industry experience)
          %li Cutting edge technologies (Ruby on Rails, Elixir/Phoenix, JavaScript and Elm)
          %li A hands-on approach (From idea to deployment)
          %li Intense and immersive (No kidding! We expect full commitment For 8 weeks)
      %li
        %h1 Sure, there are lectures. But nothing can substitute for experience.
        %ul
          %li Real-world clients for projects
          %li Classroom theory with hands-on practice &mdash; in tech the only way to get good is by doing
          %li For your personal challenge you will become an expert on one subject, and blog about it, present on it, own it!
          %li At the end of our program you will have a portfolio
      %li
        %h1 We like to have fun and we want your experience to be fun &mdash; work hard, play hard.
        %ul
          %li Beaches are 5 minutes away by car and we surf every chance we get
          %li We're two blocks from the water &mdash; boating, sailing, scuba diving/snorkeling, fishing are all a possibility. It just comes with the territory
          %li Nightlife and other attractions are within blocks of our building
          %li We like adventure, we like the outdoors, and we believe in teambuilding and do things like kayak along the Loxahatchee River
          %li We're also health nuts and believe that long intense days need to be broken up by healthy activities like Yoga, stretching, meditation, power juice breaks, cleansing
      %li
        %h1 A coding network for life: for help, collaboration, job opportunities, to bounce ideas, for lifelong career friendships. We believe in this.
        %ul
          %li Teambuilding and group unity activities
          %li Pair and mob programming
          %li On location community code meet ups (WPB Ruby Group, WPB Elixir Group, Business and the Web Meetup, etc.)
          %li Guest speakers
          %li Student/alumni online tools
          %li Job-search/networking and training assistance

  %section
    %p We are passionate about technology and believe learning to code can radically transform ones career and life path for the better.
  %ul.tiles
    %li.t-col.w-1-3
      .t-block.h-16x9.green
        .t-content
          %p This is our mission, and an important one. Each and every member of Primary Code takes this charge seriously. We are dedicated to your success and to improving the world through technology.

    %li.t-col.w-1-3
      .t-block.h-16x9.yellow
        .t-content
          %p It is important for students to belong to a network in which to flourish from &mdash; once they leave our code school. Our curriculum is designed to foster teamwork and collaboration. We then support this by providing students with the tools and means necessary to maintain relationships with us and one another.

    %li.t-col.w-1-3
      .t-block.h-16x9.red
        .t-content
          %p Your environment can greatly impact your overall learning experience. We are located in the heart of West Palm Beach, within blocks from all major attractions and amenities. This provides our students with a rich environment for building lifelong friendships and collaboration networks. And most importantly... to have fun!

    %li.t-col.w-1-3
      .t-block.blue
        .t-content
          %p Primary Code was founded by Chris Maxwell, a technologist and entrepreneur.
          %p Chris Maxwell is the president of Ojalá, Inc. a company he founded in 2001 that specializes in Web application and product development. He is also the president of ViewThought, a web development consultancy. He earned a BS in Finance and an MBA from Bentley University, and is a former staff member of the Bentley University Center for Entrepreneurship, and an adjunct faculty member at Cape Cod Community College. Chris brings a unique blend of technological and business experience and passion to Primary Code, and is on a mission to change the world for better through education and technology.

    %li.t-col.w-1-3
      .t-block.light-blue
        .t-content
          %img{:src => 'http://dummyimage.com/300x300/999/fff&text=Profile+Pic', :alt => 'dummy image'}

    %li.t-col.w-1-3
      .t-block.cyan
        .t-content
          %p Guitarist, father of one, surfer, BRC Ranger, "Jim" fan (Hendrix/Page), photographer, full stack web developer. If I could swim to work I would.
          %p I'm fueled by gazpacho, music and a ceaseless sense of adventure and possibility.
          %p Nothing ventured, nothing gained.
          %p I divide my time between playing guitar, swimming, being with my son, going to Burning Man, coding, and teaching people how to code.
