- content_for :title do
  About Us
= nav_at 'About'

%section.panel.about-blurb
  .panel-ctr
    %h1 We build programmers, and follow-up by connecting them with careers.

%section.panel.readable.open-letter
  %div
    %h2 This is our mission, and an important one. Each and every member of Primary Code takes this charge seriously.
    %p A strong foundation in coding is paramount to a developer’s success, our programs provide this, but we also believe that it is important for students to belong to a network in which to flourish from once they graduate. The Primary Code curriculum is designed to foster teamwork and collaboration, and we take advantage of our location to do the same...
    %p Our classrooms are located in the heart of West Palm Beach, within blocks of all major attractions and amenities. This provides students with a rich and fun environment for building lifelong friendships and collaboration networks.
    %p Primary Code is dedicated to your success and to improving the world through technology. If you're looking for a career in programming, come check us out at one of our many open houses or coding meet ups.
    %p We look forward to meeting you.
    %p
      Chris Maxwell
      %br
      Founder

%section.panel.readable.founder
  %div
    %h2 Primary Code was founded by Chris Maxwell, a technologist and entrepreneur.
    %p Chris Maxwell is the president of Ojalá, Inc. a company he founded in 2001 that specializes in Web application and product development. He is also the president of ViewThought, a web development consultancy. He earned a BS in Finance and an MBA from Bentley University, and is a former member of the Bentley University Center for Entrepreneurship and faculty member at Cape Cod Community College. Chris brings a unique blend of technological and business experience and passion to Primary Code, and on a mission to change the world for better through education and technology.

    -# %p Guitarist, father of one, surfer, BRC Ranger, Jimmy fan (Hendrix/Page), photographer, full stack web developer, cleanse enthusiast. If I could swim to work I would.
    -# %p I'm fueled by gazpacho, music and a ceaseless sense of adventure and possibility.
    -# %p Nothing ventured, nothing gained.
    -# %p I divide my time between playing guitar, swimming, being with my son, going to Burning Man, coding, and teaching people how to code.
