- content_for :title do
  About Us
= nav_at 'About'

%section.panel.about-blurb
  %h1 We are passionate about technology and believe learning to code can radically transform ones career and life path for the better.

%ul.tiles
  %li.t-col.w-1-2.m-1-1
    .t-block.education
      .t-content
        %h2 Education
        %h3 We expect a lot in a short period of time. We figure you do too. Our program is intense and unparalleled.
        %ul
          %li World-class instructors &mdash; MBA's, 15+ years industry experience
          %li Cutting edge technologies &mdash; Ruby on Rails, Elixir/Phoenix, JavaScript
          %li A hands-on approach &mdash; From idea to deployment
          %li Intense and immersive &mdash; No kidding! We expect full commitment for the duration of the program

          -# %li Intense and immersive
          -# %li World-class instructors
          -# %li Cutting edge technologies
          -# %li A hands-on approach

  %li.t-col.w-1-2.m-1-1
    .t-block.experience
      .t-content
        %h2 Experience
        %h3 Sure, there are lectures. But nothing can substitute for experience.
        %ul
          %li Real-world clients for student projects
          %li A blend of theory and hands-on practice &mdash; in tech the only way to get good is by doing
          %li For your personal challenge you will become an expert on one subject &mdash; blog about it, present on it, own it!
          %li At the end of our program you will have a portfolio to share

          -# %li Real-world clients
          -# %li A blend of theory and hands-on practice
          -# %li Personal challenges in blogging and presenting on coding
          -# %li Portfolio building

  %li.t-col.w-1-2.m-1-1
    .t-block.adventure
      .t-content
        %h2 Fun &amp; Adventure
        %h3 We like to have fun and we want your experience to be fun &mdash; work hard, play hard.
        %ul
          %li Beaches are 5 minutes away by car and we surf every chance we get
          %li Boating, sailing, scuba diving/snorkeling, fishing come with the territory
          %li Nightlife and other attractions are within blocks of our building
          %li Long intense days need to be broken up by healthy activities like Yoga, stretching, meditation, and power juice breaks

          -# %li Beaches &mdash; 10 minutes by bike
          -# %li Surfing, boating, scuba diving, snorkeling, kayaking
          -# %li Nightlife and other attractions within blocks
          -# %li We break up long intense days with healthy activities like yoga

  %li.t-col.w-1-2.m-1-1
    .t-block.networking
      .t-content
        %h2 Networking for Life
        %h3 A coding network for life: for help, collaboration, job opportunities, to bounce ideas, for lifelong career friendships. We believe in this.
        %ul
          %li Teambuilding and group unity activities
          %li Pair and mob programming
          %li On location community code meet ups
          %li Guest speakers
          -# %li Student and alumni online tools
          %li Job-search networking and assistance

          -# %li Teambuilding and group activities
          -# %li Pair and mob programming
          -# %li Community code meet ups
          -# %li Guest speakers
          -# %li Student/alumni online tools
          -# %li Job-search training assistance

%section.founder
  %h2 Primary Code was founded by Chris Maxwell, a technologist and entrepreneur.
  %p Chris Maxwell is the president of Ojalá, Inc. a company he founded in 2001 that specializes in Web application and product development. He is also the president of ViewThought, a web development consultancy. He earned a BS in Finance and an MBA from Bentley University, and is a former staff member of the Bentley University Center for Entrepreneurship and faculty member at Cape Cod Community College. Chris brings a unique blend of technological and business experience and passion to Primary Code, and he is on a mission to change the world for better through education and technology.

  -# %p Guitarist, father of one, surfer, BRC Ranger, "Jim" fan (Hendrix/Page), photographer, full stack web developer. If I could swim to work I would.
  -# %p I'm fueled by gazpacho, music and a ceaseless sense of adventure and possibility.
  -# %p Nothing ventured, nothing gained.
  -# %p I divide my time between playing guitar, swimming, being with my son, going to Burning Man, coding, and teaching people how to code.
