- content_for :title do
  About
= nav_at 'About'

%section.about
  %h1 We are passionate about technology and believe learning to code can radically transform ones career and life path for the better.

%ul.tiles
  %li.t-col.w-1-2
    .t-block.mission
      .t-content
        %h2 This is our mission, and an important one. Each and every member of Primary Code takes this charge seriously.
      .t-bottom
        %h3 We are dedicated to your success and to improving the world through technology.

  %li.t-col.w-1-2
    .t-block.network
      .t-content
        %h2 It is important for students to belong to a network in which to flourish from once they graduate.
      .t-bottom
        %h3 Our curriculum is designed to foster teamwork and collaboration. We then support this by providing students with the tools and means necessary to maintain relationships with us and one another.

  %li.t-col.w-1-2
    .t-block.location
      .t-content
        %h2 Your environment can greatly impact your overall learning experience. We are located in the heart of West Palm Beach, within blocks from all major attractions and amenities.
      .t-bottom
        %h3 This provides our students with a rich environment for building lifelong friendships and collaboration networks. And most importantly... to have fun!

  -# %p Guitarist, father of one, surfer, BRC Ranger, "Jim" fan (Hendrix/Page), photographer, full stack web developer. If I could swim to work I would.
  -# %p I'm fueled by gazpacho, music and a ceaseless sense of adventure and possibility.
  -# %p Nothing ventured, nothing gained.
  -# %p I divide my time between playing guitar, swimming, being with my son, going to Burning Man, coding, and teaching people how to code.

  %li.t-col.w-1-2
    .t-block.founder
      .t-content
        %h2 Primary Code was founded by Chris Maxwell, a technologist and entrepreneur.
      .t-bottom
        %h3 Chris Maxwell is the president of Ojalá, Inc. a company he founded in 2001 that specializes in Web application and product development. He is also the president of ViewThought, a web development consultancy. He earned a BS in Finance and an MBA from Bentley University, and is a former staff member of the Bentley University Center for Entrepreneurship, and an adjunct faculty member at Cape Cod Community College. Chris brings a unique blend of technological and business experience and passion to Primary Code, and is on a mission to change the world for better through education and technology.
