- content_for :title do
  Alumni
= nav_at 'Alumni'

#grid-alumni.gridster
  %ul
    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %h1 Our Alumni
      %p Add complimentory information about students and the course.

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "14"}
      %div= link_to 'Looking for a freelance web developer?', alumni_path
      %br
      %br
      %br
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.
      .student
        %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
        %h4 Anthony Gutilla
        %p West Palm Beach, Florida
        %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
        %p Need social icons, also note availability with icon as well. Will need legend.

    %li.gray-section{"data-row" => "3", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %p Interested in becoming a student?
      = link_to 'Apply', apply_path
