- content_for :title do
  Alumni
= nav_at 'Alumni'

.alumni
  %section.hero
    %h1 Our Alumni
    %p Add complimentory information about students and the course.

  %section
    %div= link_to 'Looking for a freelance web developer?', alumni_path
    %br
    %br
    %br
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.

  %section.green
    %p Interested in becoming a student?
    = link_to 'Apply', apply_path
