- content_for :title do
  Apply
= nav_at 'Apply Now'

.apply
  =# form_for @, html: { role: 'form', class: 'form' } do |f|
  %form
    %fieldset
      %legend
      %ol
        %li
          -#.form-label= f.label :
          .form-label
            %label Your Full Name
          -#.form-field= f.text_field :, autofocus: true
          .form-field
            %input{value: "Your Full Name"}
        %li
          -#.form-label= f.label :
          .form-label
            %label Your Email
          -#.form-field= f.text_field :, autofocus: true
          .form-field
            %input{value: "Your Email"}
        %li
          -#.form-label= f.label :
          .form-label
            %label Your Phone Number
          -#.form-field= f.text_field :, autofocus: true
          .form-field
            %input{value: "Your Phone Number"}
        %li
          -#.form-label= f.label :
          .form-label
            %label What program are you interested in?
          .form-radio
            %input{type: "radio"} Web Development Immersive &mdash; June 1, 2016
          .form-radio
            %input{type: "radio"} Web Development Immersive &mdash; September 1, 2016
          .form-radio
            %input{type: "radio"} Summer of Code &mdash; July 1, 2016
        %li
          -#.form-label= f.label :
          .form-label
            %label Why are you interested in Primary Code? Tell us a little bit about yourself.
          -#.form-field= f.text_field :, autofocus: true
          .form-textarea
            %textarea
        %li
          -#.form-button= f.submit ""
          .form-buttom
            %button Apply
          = link_to 'Click here to see the thank you page where users are redirected to.', thank_you_path
          %p.note Fields one through three are required. Will need some sort of indicator. Also, a form error message will be needed.
