- content_for :title do
  Backend Web Development Immersive
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %h1 Backend Immersive
    %h2 Take a deep dive into functional programming, the future of the Web with Elixir and Phoenix.

%section.stay-tuned
  %h2 Stay tuned, details coming soon.
  %p
    We're in the process of putting this course together. If you have any suggestions please don't hesitate to
    = succeed '.' do
      = link_to 'contact us', contact_path, class: 'link-underline link-underline-black'
  = render 'shared/stay_updated'

=# image_tag 'logos/technology/elixir-drop.jpg', alt: 'Elixir Logo'
=# image_tag 'logos/technology/phoenix-bird.png', alt: 'Elixir Logo'
