- content_for :title do
  Backend Web Development Immersive
= nav_at 'Our Programs'

.backend
  %section.hero
    %h1 Backend Immersive
    .what
      %h3 What?
      %p Take a deep dive into functional programming, the future of the Web with Elixir and Phoenix.
    .where
      %h3 Where?
      %p Downtown West Palm Beach, Florida
    .when
      %h3 When?
      %p Courses begin every month from 6-9 PM on Wednesdays and 9-5 on weekends.

  .overview
    %section
      %p Content Here.

  .logos
    %section
      = image_tag 'logos/technology/elixir-drop.jpg', alt: 'Elixir Logo'
      = image_tag 'logos/technology/phoenix-bird.png', alt: 'Elixir Logo'
