- content_for :title do
  Blog
= nav_at 'Blog'

%p.note
  Typical blog format: Title, Subtitle, Byline, Date, social sharing, Pull Quotes, Imagery, Headers (H1,H2,H3). The blog will not be exclusive to coding. All of these articles will be migrated to this blog:
  %br
  %a{href: "http://blog.chrismaxwell.com"} https://blog.chrismaxwell.com
%p.note
  I like the organization of this blogs splash page:
  %br
  %a{href: "https://www.launchacademy.com/blog"} https://www.launchacademy.com/blog
%p.note
  I really like the organization of posts, categories, and authors here:
  %br
  %a{href: "https://dockyard.com/blog"} https://dockyard.com/blog
