- content_for :title do
  Blog
= nav_at 'Blog'

%p.note Typical blog format: Title, Subtitle, Byline, Date, social sharing, Pull Quotes, Imagery, Headers (H1,H2,H3). The blog will not be exclusive to coding. I like the organization of this blogs splash page:
%a{href: "https://www.launchacademy.com/blog"} https://www.launchacademy.com/blog
