- content_for :title do
  FAQ
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %a{href: '#job-type'}    What kind of jobs do grads get?
    %a{href: '#getting-in'}  How do I get in?
    %a{href: '#typical-day'} What's a typical day like for students?
    %a{href: '#job-help'}    Does Primary Code help students find jobs?
    %a{href: '#learn-what'}  What will I learn?

%section.panel.faq
  %h3#job-type What kind of jobs do grads get?
  %p Graduates get jobs ranging from joining local startups to established companies as front-end or full-stack web developers. Graduates can use the skills they learn at Primary Code to begin their own web development consultancy, or to start their own business.
  -# %p Many of our grads are learning the skills we teach to get a leg up in their current companies or career path. The IT world is constantly expanding and hiring, and the skills learned at Primary Code are indispensable in an increasingly connected world.
  %p As a Primary Code graduate you can use the skills we teach to get a leg up in your current company or career path. The IT world is constantly expanding and hiring, and the skills learned at Primary Code are indispensable in an increasingly connected world.

  %h3#getting-in How do I get in?
  %p First, ask yourself..."Am I ready to dedicate my time to intensive study and learning?"
  %p
    If the answer is yes, then we encourage you to
    = succeed '.' do
      = link_to 'Apply', apply_path, class: 'link-underline-black link-body'

  %h3#typical-day What's a typical day like for students?
  %p A typical day begins at 9:00 AM and ends at 5:00 PM. This time will be filled with a combination of instruction, code implementation and practice, group activities, client interactions, project showcases, guest lectures, but the day does not necessarily end at 5:00 PM. Students are encouraged to stick around and work together on coding challenges and projects, and participate in on location developer related meet-ups and class social events.
  %p Our program is truly immersive.

  %h3#job-help Does Primary Code help students find jobs?
  %p Yes and no.
  %p We are continuously creating bridges between our program and hiring companies to understand what their needs are. Through these relationships employers often ask us for potential candidates, and in general we take advantage of the bridges we create to showcase our students. However, this function is not a dedicated purpose at this time, but the result of our efforts to understand employer needs.
  %p To help in the job search we are in the process of creating a student portal for showcasing our student's resumes, portfolios, and to foster graduate networking. We are also in the process of hiring a job placement counselor. All of these services will be available to graduates.

  %h3#learn-what What will I learn?
  %p You will learn everything you need to know to develop websites for clients at a professional level. You will understand the best practices, techniques, and tools used in web development to produce world class websites for both mobile and desktop devices.
  %p Our approach includes understanding client and user requirements, information architecture, design principles, usability testing, and how these factors come together in the code that you write.
  %p You will advance your HTML and CSS knowledge to new levels of understanding, and you will use jQuery and Javascript along with Ruby on Rails to build websites.
  %p Finally, you will learn how to deploy Ruby on Rails websites to top tier hosting providers like Heroku and Amazon AWS.
  %p Throughout the program you will learn how to follow community standards for writing code; how to research and solve coding challenges; you will practice pair programming and learn how to work in teams and contribute to larger projects through git; and you will learn how to optimize and improve performance for the sites that you build.
  %p These are just some of the things you will learn. The program is broad, deep, and intensive.
