- content_for :title do
  Front-end Bootcamp
= nav_at 'Our Programs'

#grid-front.gridster.front-end
  %ul
    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "3"}
      %h1 Front-end Bootcamp
      .what
        %h3 What?
        %p An immersive 8-week bootcamp.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins April 1, 2016

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %p The following represents areas of study in the web development bootcamp course and could be represented by icons alone, or icons with a short description:
      %ol.edu-icons
        %li [Terminal]
        %li [Sublime]
        %li [Git]
        %li [Github]
        %li [Heroku]
        %li [Amazon AWS]
        %li [RVM]
        %li [HTML]
        %li [HAML]
        %li [CSS]
        %li [SASS]
        %li [Responsive Design]
        %li [User Agent Design]
        %li [Jquery]
        %li [Javascript]
        %li [Ruby]
        %li [Rails]

    %li.gray-section{"data-row" => "3", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %h2 Upcomming Sessions

    %li.gray-section{"data-row" => "4", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      = render 'shared/subscribe'

    %li.gray-section{"data-row" => "5", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %h2 Course Outline
