- content_for :title do
  Home

%section.hero
  %p Primary Code is for people who want to learn how to code.
  %p Become a full-stack web developer through our immersive full-time 8 week coding bootcamp located in the heart of downtown West Palm Beach Florida.
  = link_to 'Apply Today', apply_path, title: ''
  = link_to 'View Courses', program_path, title: ''
%section.faq

%section.testimonial

%section.events

%section.apply

%section.pitch
  %p Advance in your career, start a new career, launch your own idea, or upgrade your skills.

%section.partners

%section.tracks

%section.facilities

