- content_for :title do
  Part-time Courses
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %h1 Part-time Courses
    %h2 An after work part-time program for the working professional.

%section.stay-tuned
  %div
    %h2 Details coming soon.
    %p
      We're in the process of putting this program together. If you have any suggestions please don't hesitate to
      = succeed '.' do
        = link_to 'contact us', contact_path, class: 'link-underline link-underline-black'
    = render 'shared/stay_updated'
