- content_for :title do
  Our Programs
= nav_at 'Our Programs'

#grid-front.gridster.programs
  %ul
    %li.blue-section.pitch{"data-row" => "1", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "2"}
      %p Combine live client projects with course curriculum to gain real world practical experience &mdash; while simultaneously building your portfolio.

    %li.blue-section.pitch{"data-row" => "1", "data-col" => "2", "data-sizex" => "1", "data-sizey" => "2"}
      %p The network you create is as important as the skills you learn. Through team based learning and collaboration you will gain life long friends and coding colleagues.

    %li.blue-section.pitch{"data-row" => "1", "data-col" => "3", "data-sizex" => "1", "data-sizey" => "2"}
      %blockquote
        %p "Learning at Primary Code is intense, fun, challenging, and rewarding. It will be a life changing experience!"
        %footer &mdash; Chris Maxwell

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "3"}
      %h1 Web Development Bootcamp
      .what
        %p An immersive 8-week bootcamp.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins April 1, 2016
      =link_to 'Learn More', web_dev_path, class: 'learn-more'

    %li.gray-section{"data-row" => "2", "data-col" => "2", "data-sizex" => "1", "data-sizey" => "3"}
      %h1 Part-time Courses
      .what
        %p An after work part-time program for the working professional.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Tracks begin every month.
      =link_to 'Learn More', part_time_path, class: 'learn-more'

    %li.gray-section{"data-row" => "2", "data-col" => "3", "data-sizex" => "1", "data-sizey" => "3"}
      %h1 Summer of Code
      .what
        %p An immersive summer bootcamp for highschool students.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins July 1, 2016
      =link_to 'Learn More', summer_path, class: 'learn-more'

    %li.gray-section{"data-row" => "3", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "3"}
      %h1 Launch Program
      %p
        %strong Do you need a website?
        Our students, led by instructors, can build your website at minimal to no cost to you.
      %p At Primary Code we value real world work experience and collaboration in our curriculumn and welcome the community to participate.
      %p
        Over the course of 8 weeks two or more students will collaborate with you to understand your key business requirements, your market, your business objectives, your user's needs, your brand, and develop a custom, unique, and professional
        %strong mobile ready
        website for you. Your website will be search engine optomized, provide a contact us form, a content management system, and will be
        = succeed '.' do
          %strong blazingly fast
      =link_to 'Apply Here', programs_path


