- content_for :title do
  Our Programs
= nav_at 'Our Programs'

#grid-front.gridster.programs
  %ul
    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "3"}
      %h1 Front-end Bootcamp
      .what
        %p An immersive 8-week bootcamp.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins April 1, 2016
      =link_to 'Learn More', front_end_path, class: 'learn-more'

    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "3"}
      %h1 Part-time Courses
      .what
        %p An after work part-time program for the working professional.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Tracks begin every month.
      =link_to 'Learn More', part_time_path, class: 'learn-more'

    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "3"}
      %h1 Summer of Code
      .what
        %p An immersive summer bootcamp for highschool students.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins July 1, 2016
      =link_to 'Learn More', summer_path, class: 'learn-more'

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "3"}
      %h1 Launch Program
      %p
        %strong Do you need a website?
        Our students, led by instructors, can build your website at minimal to no cost to you.
      %p At Primary Code we value real world work experience and collaboration in our curriculumn and welcome the community to participate.
      %p
        Over the course of 8 weeks two or more students will collaborate with you to understand your key business requirements, your market, your business objectives, your user's needs, your brand, and develop a custom, unique, and professional
        %strong mobile ready
        website for you. Your website will be search engine optomized, provide a contact us form, a content management system, and will be
        = succeed '.' do
          %strong blazingly fast
      =link_to 'Apply Here', programs_path


