- content_for :title do
  Style Guide
= nav_at 'Style Guide'

%h1 Style Guide
.style-guide
  %dl
    %dt
      %p > 1900px (super large monitors):
    %dd
      %p 1440px with 10px left and right padding.
      %p 16 grid system
  %dl
    %dt
      %p 1150px - 1900px (desktop):
    %dd
      %p 1240px with 10px left and right padding.
      %p 12 grid system
  %dl
    %dt
      %p 793px - 1150px (tablet and small PC's):
    %dd
      %p 1240px with 10px left and right padding.
      %p 9 grid system
  %dl
    %dt
      %p < 793px (mobile):
    %dd
      %p 792px with 10px left and right padding.
      %p 6 grid system
