- content_for :title do
  Style Guide

%h1 Style Guide
.style-guide
  %dl
    %dt
      %p Default desktop width:
    %dd
      %p 1140px with 10px left and right margins.
  %dl
    %dt
      %p Default mobile width:
    %dd
      %p 660px with 10px left and right margins.
