- content_for :title do
  Front-end Bootcamp
= nav_at 'Our Programs'

#grid-summer.gridster
  %ul
    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "3"}
      %h1 Summer of Code
      .what
        %h3 What?
        %p An immersive summer bootcamp for highschool students.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins July 1, 2016

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
