- content_for :title do
  Thank You!
= nav_at ''

%h2 Thank You!
%p You have completed the first step in the application process.
%p We look forward to learning more about you.
%h3 Next Steps...
%p An admissions counselor will reach out to set up an application interview.
%p
  Until then take a look at our
  =link_to 'FAQ', faq_path
  or our
  = link_to 'blog', blog_path
  to learn more about us.
