- content_for :title do
  Tuition
= nav_at 'Our Programs'

.tuition
  %section.hero
    %h1 Tuition
    %h2 Invest in your future
    %p $7950
    %p Application Deadline: February 23, 2016
    = link_to 'Apply', apply_path
    %h2 Course includes:
    %ol
      %li 400+ hours of classroom time
      %li 150+ hours of lessons
      %li 16:1 ratio of students to instructors
      %li On-going support for grads while job hunting

  %section.financing
    %h2 Financing
    %p Need payment assistance?
    %p We have partnered with the following lenders. You can join a cohort and launch your new career for as little as $1,000 down.
    %a{href: "https://www.pave.com/", target: '_blank'} PAVE
    %br
    %a{href: "http://skills.fund/", target: '_blank'} SKILLS FUND
    %br
    %a{href: "https://www.affirm.com/", target: '_blank'} AFFIRM
    %br
    %a{href: "https://climbcredit.com/", target: '_blank'} CLIMB
    %p.note Will use partner logos.
