- content_for :title do
  Web Development Bootcamp
= nav_at 'Our Programs'

#grid-front.gridster.front-end
  %ul
    %li.gray-section{"data-row" => "1", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "3"}
      %h1 Web Development Bootcamp
      .what
        %h3 What?
        %p An immersive 8-week bootcamp.
      .where
        %h3 Where?
        %p Downtown West Palm Beach, Florida
      .when
        %h3 When?
        %p Next cohort begins June 13, 2016

    %li.gray-section{"data-row" => "2", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "3"}
      %h3#learn-what What will you learn?
      %p You will learn everything you need to know to develop websites for clients at a professional level.
      %p By the end of this immersive 8-week bootcamp, you will be able to produce world class websites optimized for mobile, tablet and desktop devices.
      = image_tag 'temp/devices.png', alt: 'Icons for different device types'

    %li.gray-section{"data-row" => "3", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "3"}
      %p Understanding best practices, techniques and the developers tool set and work environment are critical to your success.
      %ol.edu-icons
        %li [Terminal]
        %li [Sublime]
        %li [Git]
        %li [Github]
        %li [RVM]

    %li.gray-section{"data-row" => "3", "data-col" => "2", "data-sizex" => "1", "data-sizey" => "3"}
      %p You will advance your HTML and CSS knowledge to new levels of understanding, and you will use jQuery and Javascript along with Ruby on Rails to build websites.
      %ol.edu-icons
        %li [HTML]
        %li [HAML]
        %li [CSS]
        %li [SASS]
        %li [RWD]

    %li.gray-section{"data-row" => "3", "data-col" => "3", "data-sizex" => "1", "data-sizey" => "3"}
      %p You will advance your HTML and CSS knowledge to new levels of understanding, and you will use jQuery and Javascript along with Ruby on Rails to build websites.
      %ol.edu-icons
        %li [Jquery]
        %li [Javascript]

    %li.gray-section{"data-row" => "4", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "3"}
      %p Our approach includes understanding client and user requirements, information architecture, design principles, usability testing, and how these factors come together in the code that you write.

    %li.gray-section{"data-row" => "4", "data-col" => "2", "data-sizex" => "1", "data-sizey" => "3"}
      %p You are going to learn Ruby on Rails. Everything you implement will be on the Rails platform, from basic markup to advanced user agent detection for mobile device rendering. You will also learn how to deploy Ruby on Rails websites to top tier hosting providers like Heroku and Amazon AWS.
      %ol.edu-icons
        %li [Ruby]
        %li [Rails]
        %li [Heroku]
        %li [Amazon AWS]

    %li.gray-section{"data-row" => "4", "data-col" => "3", "data-sizex" => "1", "data-sizey" => "3"}
      %p Along this process you will learn how to follow community standards for writing code, how to research and solve problems, you will learn to pair program and how to work in teams and contribute to larger projects through git, and how to optimize and improve performance for the sites that you build.

    %li.gray-section{"data-row" => "5", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "1"}
      %p These are just some of the things you will learn. The program is broad, deep, and intensive.

    %li.gray-section{"data-row" => "6", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %h2 Upcomming Course Dates

    %li.gray-section{"data-row" => "7", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %h2 Instructors

    %li.gray-section{"data-row" => "8", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      = render 'shared/subscribe'
