- content_for :title do
  Contact
= nav_at 'Contact Us'

- content_for :hero do
  %section.hero
    %h1 The best way to learn about us is to come visit our offices in downtown West Palm Beach, or fill out the form below and we will call or email you.

%section.contact-form
  = render 'contact_form'

-# %section.contact-info
-#   = render 'shared/phone_number'
-#   = render 'shared/email_encryptor'
-#   = render 'shared/social_icons'
-#   = render 'shared/snail_mail'

%section.contact-map
  = render 'shared/map'
