/* About
  ----------------------- */

.pages-about
  .wrapper
    height: 600px
    background: $black image-url("pics/IMG_2612.jpg") 0 100% no-repeat
    background-size: cover

.about-blurb
  @extend .black

  +breakpoint($g-tablet-range-beyond)
    text-align: center

.open-letter
  @extend .black-text

.founder
  @extend .blue
