/* About
  ----------------------- */

.about
  .hero
    height: 700px
    background-color: $black
  .about-slider > li
    height: 500px
  .bx-controls
    a
      margin-right: 10px
    .bx-pager-item
      display: inline-block
