/* Home
  ----------------------- */

.pages-home
  header .container, .hero
    background-color: $green

  .hero
    .content
      +span(8 of 12)
      +pre(2 of 12)
      padding-top: 60px
    ul
      margin: 0
      list-style-type: none
      // font-size: 1.3em
    .fat-link
      margin-top: 30px
    .join
      ol
        margin-top: 30px

  .pitch
    @extend .white
    .t-middle
      margin-top: -10%
      text-align: center
      p
        margin: 0
      p:last-child
        margin-top: 20px
        font-size: 2em

  .web-dev-program
    @extend .blue
    @extend .white-text

  .summer-program
    @extend .yellow

  .launch-program
    @extend .black
    @extend .white-text
    .t-bottom
      bottom: 0
      text-align: right
    img
      width: 50%
      margin-right: 22px

  .backend-program
    @extend .cyan
    @extend .white-text

  .faq
    @extend .black
    @extend .white-text

  .expectations
    padding-bottom: 20%
    @extend .white
  .essence
    padding-bottom: 80%
    @extend .white
    .t-n-block
      padding-bottom: 30%
    h3
      margin-bottom: 10px
      padding-left: 25px
      font-family: $droid-sans
      background: image-url("logos/icon-red-20x25.png") 0 0 no-repeat
    .experience h3
      background-image: image-url("logos/icon-green-20x25.png")
    .adventure h3
      background-image: image-url("logos/icon-yellow-20x25.png")
    .networking h3
      background-image: image-url("logos/icon-blue-20x25.png")
    li
      line-height: 1.2
      margin-bottom: 8px
      list-style-type: none
      font-size: 14px

  .events
    @extend .white

  .testimonial
    @extend .green
    @extend .white-text
    .t-content
      padding: 0 0 0 $internal
    blockquote
      float: left
      margin: 0
      width: 50%
    .image
      float: right
      width: 50%
    img
      height: 100%

  .partners
    @extend .blue
    @extend .white-text
    .t-middle
      margin-top: -45px
      text-align: center
      img
        margin-right: 20px
        &:last-child
          margin-right: 0

  .gallery
    padding-bottom: $internal
    @extend .cyan
    @extend .white-text
    text-align: center
    h2
      margin-top: 40px
    p
      margin: 20px 0 0
  .images
    +clearfix
    a
      position: relative
      float: left
      &:nth-child(1)
        width: 50%
      &:nth-child(2),
      &:nth-child(3)
        width: 25%
    //   &:after
    //     content: ""
    //     position: absolute
    //     top: 0
    //     right: 0
    //     bottom: 0
    //     left: 0
    //     background: image-url("pics/fade.png") 0 0 repeat-y
    // .image-2,
    // .image-3
    //   &:after
    //     background: image-url("pics/fade-360.png") 0 0 repeat-y
