/* Home
  ----------------------- */

.pages-home
  .wrapper
    background-color: $green
    .hero
      +span(8 of 12)
      +pre(2 of 12)
      height: auto
      padding-top: 60px
    ul
      margin: 0
      list-style-type: none
    .fat-link
      margin-top: 30px
    .join
      ol
        margin-top: 30px

  .pitch
    @extend .white
    .t-content
      background: image-url("fixtures/zig-zag.png")
    .t-middle
      margin-top: -10%
      text-align: center
      p
        margin: 0
      p:last-child
        margin-top: 20px
        font-size: 2em

  .web-dev-program
    @extend .blue
    @extend .white-text

  .summer-program
    @extend .yellow

  .launch-program
    @extend .black
    @extend .white-text
    .t-bottom
      bottom: 0
      text-align: right
    img
      width: 50%
      margin-right: 22px

  .backend-program
    @extend .magenta
    @extend .white-text

  .part-time-program
    @extend .cyan
    @extend .white-text

  .faq
    @extend .black
    @extend .white-text
    .t-content
      background: image-url("fixtures/zig-zag.png")

  .essence-pattern
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: image-url("fixtures/stacked_circles.png")
    opacity: 0.5
  .essence-header
    padding-bottom: 20%
    // @extend .white
  .essence-body
    padding-bottom: 80%
    // @extend .white
    .t-n-block
      padding-bottom: 30%
    h3
      margin-bottom: 10px
      padding-left: 25px
      font-family: $droid-sans
      background: image-url("logos/icon-red-20x25.png") 0 0 no-repeat
    .experience h3
      background-image: image-url("logos/icon-green-20x25.png")
    .adventure h3
      background-image: image-url("logos/icon-yellow-20x25.png")
    .networking h3
      background-image: image-url("logos/icon-blue-20x25.png")
    ul
      list-style-type: none
    li
      line-height: 1.2
      margin-bottom: 8px
      font-size: 14px

  .events
    @extend .blue
    @extend .white-text
    ul
      list-style-type: none
    li
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid $font-white
      +clearfix
    li:last-child
      border-bottom: none
    .calendar
      float: left
      margin: 5px 20px 0 0
      fill: $font-white
    .date
      float: left
      width: 70px
      margin-right: 10px
      margin-bottom: 10px
    .details
      float: left
    h3, p
      margin: 0

    +breakpoint($g-desktop)
      li
        margin-bottom: 20px
        padding-bottom: 20px
      .date
        width: 100px
        margin-bottom: 0
      .details
        padding-left: 20px
        border-left: 1px solid $font-white

  .testimonial
    @extend .black
    .t-content
      padding: 0
    img
      width: 100%
      height: 100%
    blockquote
      position: absolute
      right: 20px
      bottom: 20px
      left: 20px
      margin: 0
      padding: 20px
      border-radius: 3px
      background-color: rgba(12, 144, 48, 0.5)
      p, footer
        @extend .white-text
      p
        margin-top: 0
        font-size: 18px

  .partners
    +hide
    padding-bottom: 250px
    @extend .white
    .t-middle
      margin-top: -40px
      text-align: center
      img
        margin-right: 20px
        &:last-child
          margin-right: 0

  .gallery
    padding: 60px 0
    @extend .cyan
    @extend .white-text
    &:after
      +panel-shadow(.15)
    h2, p
      position: absolute
      top: 0
      right:  0
      left: 0
      line-height: 60px
      margin: 0
      text-align: center
    p
      top: auto
      bottom: 0
  .images
    +clearfix
    a
      position: relative
      float: left
      &:nth-child(1)
        width: 50%
      &:nth-child(2),
      &:nth-child(3)
        width: 25%
    //   &:after
    //     content: ""
    //     position: absolute
    //     top: 0
    //     right: 0
    //     bottom: 0
    //     left: 0
    //     background: image-url("pics/fade.png") 0 0 repeat-y
    // .image-2,
    // .image-3
    //   &:after
    //     background: image-url("pics/fade-360.png") 0 0 repeat-y
