/* Programs
  ----------------------- */

.programs
  .where, .when
    +span(6 of 12)
    h3
      margin: 0
  .when
    margin-right: 0
  .learn-more
    display: block
    clear: both
  .network, .quote
    height: 50%
