/* Programs
  ----------------------- */

.pages-programs
  header .container, .hero
    background-color: $black

  .web-dev-program
    @extend .green
  .what
    +span(4 of 4)
  .where
    +span(2 of 4)
  .when
    +span(2 of 4 last)
  h2, h3
    margin: 0
    margin-right: 0

  .part-time-program
    @extend .cyan

  .summer-program
    @extend .yellow

  .backend-program
    @extend .red
    @extend .white-text

  .launch-program
    @extend .black
    @extend .white-text

  .network
    @extend .green

  .founder-quote
    height: 150px
    @extend .cyan
