/* Summer
  ----------------------- */

.pages-summer
  .wrapper
    background-color: $yellow
  .hero
    @extend .black-text
    @extend .black-link

  .toggle-1, .toggle-2
    +hide

  +breakpoint($g-tablet)
    .toggle-1
      +reveal-hidden

  +breakpoint($g-desktop)
    .toggle-2
      +reveal-hidden

  .events
    .t-middle
      margin-top: -8%
      text-align: center
      div
        display: inline-block
        padding-right: 45px + 20px
      .calendar
        float: left
        width: 45px
        height: 45px
        margin: 5px 20px 0 0
        fill: $font-white
      h3
        float: left
        text-align: left
