/* Web Dev
  ----------------------- */

.pages-web_dev
  .wrapper
    background-color: $blue

  .next-cohort
    @extend .black
    text-align: center
    h2
      margin: 0 auto 30px
  .box-1
    background-color: $gray50
  .box-2
    background-color: $gray100
  .box-3
    background-color: $gray50
  .box-4
    background-color: $gray100
  .box-5
    background-color: $gray50
  .box-6
    background-color: $gray100
  .js-icon
    margin: 0 5px

  +breakpoint($g-tablet)
    .w-1-3
      width: 50%
    .box-3
      background-color: $gray100
    .box-4
      background-color: $gray50

  +breakpoint($g-tablet-range-beyond)
    .next-cohort
      div
        width: 67%
        margin: 0 auto
        +clearfix
      h2, a
        display: inline-block
        float: left
        margin: 0
      a
        float: right
        margin-left: 10px

  +breakpoint($g-desktop)
    .w-1-3
      width: 33.333333%
    .next-cohort
      div
        width: 55%
      a
        margin-left: 20px
    .box-3
      background-color: $gray50
    .box-4
      background-color: $gray100

  +breakpoint($g-desktop-wide $g-uber-wide)
    .next-cohort
      div
        width: 45%

  +breakpoint($g-uber-wide)
    .next-cohort
      div
        width: 40%

  .t-middle
    text-align: center
    svg
      width: 65px
      height: 65px

  .more-info
    @extend .black
    text-align: center
    a
      margin-top: 30px

  .events
    @extend .blue
    @extend .white-text
    li
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid $font-white
      +clearfix
    li:last-child
      border-bottom: none
    .calendar
      float: left
      margin: 5px 20px 0 0
      fill: $font-white
    .date
      float: left
      width: 30%
      margin-right: 10px
      margin-bottom: 10px
    .details
      float: left
    h3, p
      margin: 0

    +breakpoint($g-tablet)
      li
        margin-bottom: 20px
        padding-bottom: 20px
      .date
        width: 110px
        margin-bottom: 0
      .details
        padding-left: 20px
        border-left: 1px solid $font-white

    +breakpoint($g-desktop)
      .date
        width: 200px

    +breakpoint($g-layout)
      .date
        width: 200px

  .tuition
    +breakpoint($g-mobile)
      background-color: $gray100

  .write-up
    .toggle-1, .toggle-2
      +hide

    +breakpoint($g-tiny)
      .toggle-2
        +reveal-hidden

    +breakpoint($g-tablet)
      .toggle-2
        +hide
      .toggle-3
        +reveal-hidden

    +breakpoint($g-tablet-range-beyond)
      .toggle-2
        +reveal-hidden

    +breakpoint($g-desktop)
      .toggle-1
        +reveal-hidden

  .instructor
    .t-content
      padding: 0
