/* Web Dev
  ----------------------- */

.pages-web_dev
  .wrapper
    background-color: $blue
  .hero
    span
      font-size: 125%
    .toggle
      +hide

      +breakpoint($g-tiny)
        +reveal-hidden

  .tuition
    .toggle
      +hide

      +breakpoint($g-tiny)
        +reveal-hidden

      +breakpoint($g-tablet-range)
        +hide

      +breakpoint($g-tablet-medium)
        +reveal-hidden

  .events
    li
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid $font-white
      +clearfix
    li:last-child
      border-bottom: none
    .calendar
      float: left
      margin: 5px 20px 0 0
      fill: $font-white
    .date
      float: left
      width: 30%
      margin-right: 10px
      margin-bottom: 10px
    .details
      float: left
    h3, p
      margin: 0

    +breakpoint($g-tablet)
      li
        margin-bottom: 20px
        padding-bottom: 20px
      .date
        width: 110px
        margin-bottom: 0
      .details
        padding-left: 20px
        border-left: 1px solid $font-white

    +breakpoint($g-desktop)
      .date
        width: 200px

    +breakpoint($g-layout)
      .date
        width: 200px
