-# Uncomment if you plan to use google CDN and remove from manifest, otherwise delete.
-# %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
-# :javascript
-#   window.jQuery || document.write('<script src="assets/jquery-2.1.3.min.js"><\/script>')

= javascript_include_tag "phone"

:javascript
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-47555027-7','auto');ga('send','pageview')
%script{:async => "", :defer => "defer", :src => "https://www.google-analytics.com/analytics.js"}
