/* Colors
  ----------------------- */

// color palette...

// $blue:              #214c9b
$red:               #e40613
$green:             #68b42d
$blue:              #2185c5

$yellow:            #feed01
$cyan:              #009fe3
$magenta:           #d7007f


// other colors...
$light-blue:        #7ecefd

$white:             #fff
$whitish:           #fcfcfc
$white-smoke:       #f5f5f5
$dark-white:        #f2f2f2

$gray:              #999
$med-gray:          #737373
$dark-gray:         #404040

$black:             #262626
$blackish:          #444
$charcoal:          #3e454c

$alert-lgt-blu:     #eaeff5
$alert-drk-blu:     #33689a
$alert-lgt-grn:     #f4f7f0
$alert-drk-grn:     #669934
$alert-lgt-ylo:     #ffffd9
$alert-drk-orj:     #cc682a
$alert-lgt-red:     #f9eae5
$alert-drk-red:     #cf3303


/* Fonts
  ----------------------- */

// stacks...

$arial:                Arial, "Helvetica Neue", Helvetica, sans-serif
$helvetica:            "Helvetica Neue", "Helvetica", Arial, sans-serif
$verdana:              Verdana, Geneva, Tahoma, sans-serif
$geneva:               Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
$georgia:              Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif

// typekit...



// google web fonts...

$droid-serif:          "Droid Serif", Georgia, Times, serif
$droid-sans:           "Droid Sans", Helvetica, Arial, sans-serif

// embedded fonts...

// @font-face
//   font-family: 'FONT_NAME'
//   font-weight: normal
//   font-style: normal
//   src: font-url('FONT_NAME.eot')
//   src: font-url('FONT_NAME.eot?#iefix') format("embedded-opentype"), font-url('FONT_NAME.svg#FONT_NAME') format("svg"), font-url('FONT_NAME.woff') format("woff"), font-url('FONT_NAME.ttf') format("truetype")

// base definitions...

$base-font-family:     $droid-sans       !default
$base-font-size-alt:   1em               !default
$base-line-height-alt: 1.4               !default
$base-font-color:      $blackish         !default

// font family...

$font-family-header:   $droid-serif      !default
$font-family-nav:      $droid-serif      !default
$font-family-button:   $droid-serif      !default

// icon fonts...

@font-face
  font-family: 'icon-fonts'
  font-weight: normal
  font-style: normal
  src: font-url('icon-fonts.eot')
  src: font-url('icon-fonts.eot?#iefix') format("embedded-opentype"), font-url('icon-fonts.svg#icon-fonts') format("svg"), font-url('icon-fonts.woff') format("woff"), font-url('icon-fonts.ttf') format("truetype")


/* Color Applications
  ----------------------- */

// backgrounds...

$bg-body:           $whitish
$bg-container:      $white
$bg-header:         $white
$bg-nav:            $white
$bg-footer:         $white

// fonts...

$font-white:        $white
$font-gray:         $gray

// links...

$link-logo:         darken($blue, 10)
// $link-nav:          darken($blue, 10)
$link-nav:          $white
$link-white:        darken($white, 10)

$link-normal:       darken($blue, 10)
$link-hover:        lighten($blue, 10)
$link-active:       darken($blue, 10)
$link-visited:      darken($blue, 10)
$link-focus:        darken($blue, 10)

// miscellaneous...

$button:            $gray
$highlighter:       lighten($blue, 20)
$ruler:             lighten($gray, 10)
$border:            darken($gray, 10)

// alerts...

$info-lgt:          $alert-lgt-blu
$info-drk:          $alert-drk-blu
$success-lgt:       $alert-lgt-grn
$success-drk:       $alert-drk-grn
$warning-lgt:       $alert-lgt-ylo
$warning-drk:       $alert-drk-orj
$error-lgt:         $alert-lgt-red
$error-drk:         $alert-drk-red
