/* Fonts
  ----------------------- */

// stacks...

$arial:                Arial, "Helvetica Neue", Helvetica, sans-serif
$helvetica:            "Helvetica Neue", "Helvetica", Arial, sans-serif
$verdana:              Verdana, Geneva, Tahoma, sans-serif
$geneva:               Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
$georgia:              Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif

// typekit...



// google web fonts...

$droid-serif:          "Droid Serif", Georgia, Times, serif
$droid-sans:           "Droid Sans", Helvetica, Arial, sans-serif

// embedded fonts...

// @font-face
//   font-family: 'FONT_NAME'
//   font-weight: normal
//   font-style: normal
//   src: font-url('FONT_NAME.eot')
//   src: font-url('FONT_NAME.eot?#iefix') format("embedded-opentype"), font-url('FONT_NAME.svg#FONT_NAME') format("svg"), font-url('FONT_NAME.woff') format("woff"), font-url('FONT_NAME.ttf') format("truetype")

// base definitions...

$base-font-family:     $droid-sans       !default
$base-font-size-alt:   1em               !default
$base-line-height-alt: 1.4               !default
$base-font-color:      #444              !default

// font family...

$font-family-header:   $droid-serif      !default
$font-family-nav:      $droid-serif      !default
$font-family-button:   $droid-serif      !default

// icon fonts...

// @font-face
//   font-family: 'icon-fonts'
//   font-weight: normal
//   font-style: normal
//   src: font-url('icon-fonts.eot')
//   src: font-url('icon-fonts.eot?#iefix') format("embedded-opentype"), font-url('icon-fonts.svg#icon-fonts') format("svg"), font-url('icon-fonts.woff') format("woff"), font-url('icon-fonts.ttf') format("truetype")


/* Colors
  ----------------------- */

// color palette...

/* EXAMPLE: https://kuler.adobe.com/#themeID/2291686 */

$charcoal:          #3e454c
$blue:              #2185c5
$light-blue:        #7ecefd
$eggshell:          #fff6e5
$salmon:            #ff7f66


// backgrounds...

$bg-body:           #fff
$bg-container:      #fff
$bg-header:         #fff
$bg-nav:            #fff
$bg-footer:         #fff

// fonts...

$font-white:        #fff
$font-gray:         #999

// links...

$link-logo:         darken($blue, 10)
$link-nav:          darken($blue, 10)

$link-normal:       darken($blue, 10)
$link-hover:        lighten($blue, 10)
$link-active:       darken($blue, 10)
$link-visited:      darken($blue, 10)
$link-focus:        darken($blue, 10)

// common alternative:
// $link-normal:       #0645ad
// $link-hover:        #3366bb
// $link-active:       #669934
// $link-visited:      #7f007f
// $link-focus:        #669934

// miscellaneous...

$button:            $font-gray
$highlighter:       #00b5f1
$ruler:             #c3c3c3
$border:            #dadbdf

// alerts...

$info-lgt:          #eaeff5
$info-drk:          #33689a
$success-lgt:       #f4f7f0
$success-drk:       #669934
$warning-lgt:       #ffffd9
$warning-drk:       #cc682a
$error-lgt:         #f9eae5
$error-drk:         #cf3303

// KEY: 1. lgt-blu, 2. drk-blu, 3. lgt-grn, 4. drk-grn,
//      5. lgt-ylo, 6. drk-orj, 7. lgt-red, 8. drk-red
