@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

// Definitions...

$z-index: (
  z-block:         1000,
  z-content:       1001,
  z-middle:        1002,
  z-bottom:        1003,
  z-more:          1004,

  nav-button:      10000,
  nav-overlay:     10001
);
