/* DEFINITIONS
  ============================================================================ */
// @import "modular_scale";
@import "define";


/* MIXINS
  ============================================================================ */
@import "compass";
@import "mixins";


/* RESETS
  ============================================================================ */
@import "boilerplate/h5bp_normalize_v303";

// To counter default indentation of lists, and reposition bullets and numbers.
ol, ul {
  padding-left: 0;
  list-style-position: inside
}


/* BASIC STRUCTURE
  ============================================================================ */
@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  container: 1240px,
  gutters: .15,
  // gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
    image: show-columns,
    color: rgba(#66b3dc, 0.25),
    // output: background,
    output: overlay,
    toggle: bottom right
    )
  );

@include border-box-sizing;

// breakpoints...

$g-tiny: 500px;
$g-mobile: max-width 792px;
$g-tablet: 793px;
$g-desktop: 1150px;
$g-layout: 1240px;
$g-uber-wide: 1900px;

@import 'z_index';
@import "desktop/layout";
@import "desktop/tiles";


/* TYPOGRAPHY
  ============================================================================ */
@import "desktop/typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "misc";
@import "animations";


/* NAVIGATION
  ============================================================================ */
@import "desktop/navigation";


/* FORMS
  ============================================================================ */
@import "desktop/forms";


/* PAGES
  ============================================================================ */
@import "desktop/pages";
@import "dev_dashboard";


/* STAGING - new styles for front-end folks to review and integrate
  ============================================================================ */
@import "desktop/staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */

@import "lightgallery";


/* LAST
  ============================================================================ */
@import "boilerplate/h5bp_helpers";
@import "boilerplate/h5bp_print";
