/* DEFINITIONS
  ============================================================================ */
@import "define";


/* MIXINS
  ============================================================================ */
@import "compass";
@import "mixins";


/* RESETS
  ============================================================================ */
@import "boilerplate/mobile_normalize_v302";

// To counter normalize indentation of lists, and reposition bullets and numbers.
ol, ul {
  padding-left: 0;
  list-style-position: inside
}


/* BASIC STRUCTURE
  ============================================================================ */
@import "susy";
@import "breakpoint";

$susy: (
  columns: 6,
  container: 812px, // desired width is 792px, has 10px left and right padding.
  gutters: .25,
  gutter-position: inside,
  global-box-sizing: border-box,
  debug: (
    image: show-columns,
    color: rgba(#66b3dc, 0.25),
    output: overlay,
    toggle: bottom right
    )
  );

@include border-box-sizing;

// breakpoints...

$g-tiny: 500px;

@import 'z_index';
@import "phone/layout";
@import "phone/tiles";


/* TYPOGRAPHY
  ============================================================================ */
@import "phone/typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "misc";
@import "animations";


/* NAVIGATION
  ============================================================================ */
@import "phone/navigation";


/* FORMS
  ============================================================================ */
@import "phone/forms";


/* PAGES
  ============================================================================ */
@import "phone/pages";
@import "dev_dashboard";


/* STAGING - new styles belong here !!!DO NOT INTEGRATE!!!
  ============================================================================ */
@import "phone/staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */



/* LAST
  ============================================================================ */
@import "boilerplate/mobile_helpers";
