- content_for :title do
  Descriptive Adjectives List
- content_for :description_tag do
  Descriptive adjectives for Primary Code.

.adjectives
  %section= link_to 'Dashboard', guides_path, class: 'guides-link'

  %section
    %h2 Descriptive Adjectives List
    .col1
      %h3 Brainstorming
      %ul
        %li Educational
        %li Broad
        %li Extensive
        %li Technological
        %li Immersive
        %li Well-situated
        %li Relaxing
        %li Exciting
        %li Driven
        %li Social
        %li Life Changing
        %li Competent
        %li Fun
        %li Engaging
        %li Challenging
        %li Worthwhile
        %li Amazing
        %li Cutting Edge
        %li Committed
        %li Intense
        %li Rewarding
        %li Collaborative
        %li Passionate
        %li Transformational
        %li Altruistic
        %li Skillful
        %li Productive
        %li Connected
        %li Networked
        %li Informative
        %li Advanced
        %li Accommodating
        %li Encouraging
        %li Inviting
        %li Fresh
    .col2
      %h3 Reduced
      %ul
        %li Educational
        %li Technological
        %li Immersive
        %li Well-situated
        %li Relaxing
        %li Exciting
        %li Driven
        %li Social
        %li Life Changing
        %li Competent
        %li Fun
        %li Engaging
        %li Challenging
        %li Amazing
        %li Cutting Edge
        %li Intense
        %li Rewarding
        %li Collaborative
        %li Passionate
        %li Transformational
        %li Fresh
    .col3
      %h3 Final List
      %ul
        %li Educational
        %li Technological
        %li Cutting Edge
        %li Immersive
        %li Challenging
        %li Driven
        %li Passionate
        %li Social
        %li Collaborative
        %li Rewarding
        %li Life Changing
        %li Transformational
        %li Fresh
        %li Fun
        %li Exciting
        %li Engaging
    .col4
      %h3 Forced Reduction
      %ul
        %li Educational
        %li Cutting Edge
        %li Challenging
        %li Passionate
        %li Collaborative
        %li Transformational
        %li Fun
