- content_for :title do
  Primary Code Essence
- content_for :description_tag do
  Who we are, what we are about, or essence.

.essence
  %section= link_to 'Dashboard', guides_path, class: 'guides-link'

  %section
    %h2 Primary Code Essence

    %h3 EDUCATION
    %ul
      %li World-class instructors (MBA, 15+ years industry experience)
      %li Cutting edge technologies (Ruby on Rails, Elixir/, JavaScript and React)
      %li A holistic and hands-on approach (from idea to deployment)
      %li Intense and immersive
    %h3 EXPERIENCE
    %ul
      %li Real-world clients
      %li A blend of theory and hands-on practice
      %li Portfolio building
      %li Subject matter expertise blogging and presentations
      %li Third-party service interactions, e.g. designers and design bake-offs
    %h3 FUN/ADVENTURE
    %ul
      %li West Palm Beach nightlife and other attractions within blocks (Clematis Street, City Place, Kravitz Center)
      %li Beaches – 10 minutes by bike
      %li Marinas – 2 blocks
      %li Surfing, boating/sailing, scuba diving/snorkeling – front yard
      %li Kayaking – Loxahatchee River, inland to ocean kayaking trails
      %li Yoga
    %h3 COLLABORATION/NETWORKING for Life
    %ul
      %li Teambuilding and group unity
      %li Pair and mob programming
      %li On location community code meet ups (WPB Ruby Group, WPB Elixir Group, Business and the Web Meetup, etc.)
      %li Guest speakers
      %li Student/alumni online tools
      %li Job-search/networking and training assistance

    = image_tag 'misc/essence-diagram.png'
