- content_for :title do
  Style Guide
= nav_at 'Style Guide'

.style-guide
  %section= link_to 'Dashboard', guides_path, class: 'guides-link'

  %section
    %h1 Style Guide
    %h2 Grid Widths
    %dl
      %dt
        %p > 1900px (super large monitors):
      %dd
        %p 1440px
        %p 12 grid system
    %dl
      %dt
        %p 1150px - 1900px (desktop):
      %dd
        %p 1240px
        %p 12 grid system
    %dl
      %dt
        %p 793px - 1150px (tablet and small PC's):
      %dd
        %p 1240px
        %p 12 grid system
    %dl.last
      %dt
        %p < 793px (mobile):
      %dd
        %p 792px
        %p 12 grid system

    %h2 Primary Colors
    %ul.tiles
      %li.t-col.w-1-8.m-1-1
        .red
          .t-block
            .t-content
              %p
                %span #d62323
                %span .red
      %li.t-col.w-1-8.m-1-1
        .green
          .t-block
            .t-content
              %p
                %span #0c9030
                %span .green
      %li.t-col.w-1-8.m-1-1
        .blue
          .t-block
            .t-content
              %p
                %span #295ca4
                %span .blue

    %h2 Secondary Colors
    %ul.tiles
      %li.t-col.w-1-8.m-1-1
        .yellow
          .t-block
            .t-content
              %p
                %span #feed01
                %span .yellow
      %li.t-col.w-1-8.m-1-1
        .cyan
          .t-block
            .t-content
              %p
                %span #09b299
                %span .cyan
      %li.t-col.w-1-8.m-1-1
        .magenta
          .t-block
            .t-content
              %p
                %span #b212b2
                %span .magenta

    %h2 Other Colors
    %ul.tiles
      %li.t-col.w-1-8.m-1-1
        .color
          .t-block
            .t-content
              %p
                %span #
                %span .color

    %h3 Whites
    %ul.tiles
      %li.t-col.w-1-8.m-1-1
        .white
          .t-block
            .t-content
              %p
                %span #fff
                %span .white
      %li.t-col.w-1-8.m-1-1
        .whitish
          .t-block
            .t-content
              %p
                %span #fcfcfc
                %span .whitish
      %li.t-col.w-1-8.m-1-1
        .white-smoke
          .t-block
            .t-content
              %p
                %span #f5f5f5
                %span .white-smoke
      %li.t-col.w-1-8.m-1-1
        .dark-white
          .t-block
            .t-content
              %p
                %span #f2f2f2
                %span .dark-white

    %h3 Grays
    %ul.tiles.white-txt
      %li.t-col.w-1-8.m-1-1
        .super-light-gray
          .t-block
            .t-content
              %p
                %span #eee
                %span .super-light-gray
      %li.t-col.w-1-8.m-1-1
        .light-gray
          .t-block
            .t-content
              %p
                %span #d0d0d0
                %span .light-gray
      %li.t-col.w-1-8.m-1-1
        .gray
          .t-block
            .t-content
              %p
                %span #999
                %span .gray
      %li.t-col.w-1-8.m-1-1
        .medium-gray
          .t-block
            .t-content
              %p
                %span #737373
                %span .medium-gray
      %li.t-col.w-1-8.m-1-1
        .dark-gray
          .t-block
            .t-content
              %p
                %span #404040
                %span .dark-gray

    %h3 Blacks
    %ul.tiles.white-txt
      %li.t-col.w-1-8.m-1-1
        .black
          .t-block
            .t-content
              %p
                %span #262626
                %span .black
      %li.t-col.w-1-8.m-1-1
        .blackish
          .t-block
            .t-content
              %p
                %span #444
                %span .blackish
      %li.t-col.w-1-8.m-1-1
        .charcoal
          .t-block
            .t-content
              %p
                %span #3e454c
                %span .charcoal
