.logo
  =# link_to image_tag('logos/primary-code-logo.png', alt: 'Primary Code Logo', width: '225', height: '50'), root_path, title: 'Click for homepage'
  = link_to root_path, title: 'Primary Code Logo' do
    %span.ir Primary Code
