!!!
%html.no-js{lang: 'en'}
  = render 'layouts/head'
  %body{class: controller_name + '-' + action_name}
    #wrapper
      = render 'layouts/browsehappy'
      #main{role: 'main'}
        .container
          = yield
    = render 'layouts/scripts'
